$header-height: 80px;

$header-background: #500450;
$navbar-background: purple;
$content-background: #FCFCFC;
$navbar-color: #898AC7;
$content-color: #282AB5;

$input-background-color: #fff;
$input-color: #555;
$input-border-color: #ccc;
$input-border-color-focus: #66afe9;

$button-color: #FCFCFC;
$button-background-color: #4D62AE;
$button-background-color-active: #95A2D0;
$button-border-color: #2727C7;

$font-stack: Arial, Geneva, sans-serif;
