@import "../../sass/variables.scss";

.navbar {
    height: 100%;
    background-color: $navbar-background;
    color: $navbar-color;
    li {
        padding: 15px;
    }

    a, a:visited {
        color: #898AC7;
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    @media screen and (max-width: 719px) {
        width: 50px;
        ul {
            margin: 0;
        }
        span {
            display: none;
        }
    }
    @media screen and (min-width: 720px) {
        width: 180px;
        ul {
            margin: 0 0 0 40px;
        }
    }
    @media print {
        display: none;
    }
}
