@import "../../sass/variables.scss";

.navbar {
    height: 100%;
    border-right: #CCC solid 1px;
    .logo_area {
        padding: 40px 0;
        text-align: center;
        img {
            width: 80%;
        }
    }
    li {
        padding: 15px;
    }

    a, a:visited {
        color: #4D62AE;
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    @media screen and (max-width: 719px) {
        width: 50px;
        ul {
            margin: 0;
        }
        span {
            display: none;
        }
    }
    @media screen and (min-width: 720px) {
        width: 180px;
        ul {
            margin: 0 0 0 40px;
        }
    }
    @media print {
        display: none;
    }
}
