<template name="NavBar">
<div class="navbar">
    <div class="logo_area">
        <img src="/images/znetworks.svg" alt="logo" />
    </div>
    <ul class="side-nav">
        <li>
        <a href="/my_expenses">
            <i class="fa fa-credit-card">&nbsp;</i>
            <span>My expenses</span>
        </a>
        </li>
        <li>
        <a href="/expenses">
            <i class="fa fa-folder">&nbsp;</i>
            <span>All expenses</span>
        </a>
        </li>
        <li>
        <a href="/categories">
            <i class="fa fa-tags">&nbsp;</i>
            <span>Categories</span>
        </a>
        </li>
        <li>
        <a href="/users">
            <i class="fa fa-users">&nbsp;</i>
            <span>Users</span>
        </a>
        </li>
        <li>
        <a href="/logout">
            <i class="fa fa-sign-out">&nbsp;</i>
            <span>Logout</span>
        </a>
        </li>
    </ul>
</div>
</template>
