@import "../sass/variables.scss";

$navbar-width-large: 180px;
$navbar-width-medium: 30px;

.main_layout {
    height: 100%;
    background-color: $content-background;
    color: $content-color;
    .left_column {
        display: inline-block;
        float: left;
        height: 100%;
        overflow: hidden;
    }
    .content {
        height: 100%;
        overflow: auto;
    }
}

